@font-face {
    font-family: robotoCondensed; src: url(RobotoCondensed-Regular.ttf);
  }
  head {
  background-color: black; color:white; font-family: 'Roboto Mono', monospace;
  }
  h1 {
    background-color: black; text-align: right; color:white; font-family: 'Roboto Mono', monospace;
  }
  img {
    display: inline-block; 
    right: 0px;

  }
  body {
    background-color: black; color:white; font-family: 'Roboto Mono', monospace;
  }
  
  
  