@font-face {
    font-family: robotoCondensed; src: url(RobotoCondensed-Regular.ttf);
  }
  head {
  background-color: black; color:white; font-family: 'Roboto Mono', monospace;
  }
  h1 {
    background-color: black; text-align: right; color:white; font-family: 'Roboto Mono', monospace; position: fixed; right:200px; top: 10px; padding: 0px; border: 0px;
    margin: 0;
  }
  img {
      position: fixed;
    right: 0px;
    top: 0px;

  }
  body {
    background-color: black; color:white; font-family: 'Roboto Mono', monospace; vertical-align: bottom;
  }
  
  
  