@font-face {
  font-family: robotoCondensed; src: url(RobotoCondensed-Regular.ttf);
}
head {
background-color: lightcyan; color:darkslategrey; font-family: 'robotoCondensed', sans-serif;
}
h1 {
  background-color: lightcyan; color:darkslategrey; font-family: 'robotoCondensed', sans-serif;
  }
body {
background-color: lightcyan; color: darkslategray; font-family: 'robotoCondensed', sans-serif;
}


